body {
  background: #240414;
  color: white;
  font-family: "Roboto", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 70%;
  margin: auto;
}

header {
  width: 100%;
  background: #240414b9;
  position: absolute;
  z-index: 10;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

header .container .brand {
  position: absolute;
  left: 0px;
  top: -15px;
}

header .container .brand img {
  width: 150px;
}

header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container nav ul li a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
}

header .container nav ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
}

section#hero {
  background-image: url("../img/wow_wallpaper.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

section#hero iframe,
section#hero video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

section#hero h1 {
  font-size: 5em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bold;
  text-shadow: 10px 0px 30px black, 0px 10px 30px black, 0px -10px 30px black, -10px 0px 30px black;
}

section#hero .scrollwheel {
  position: absolute;
  bottom: 7%;
  right: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 30px;
  height: 70px;
  border-radius: 15px;
  border: 5px solid white;
}

section#hero .scrollwheel .animated {
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
  margin: auto;
  position: relative;
  bottom: -10px;
  -webkit-animation: 1s linear infinite scrollwheel;
          animation: 1s linear infinite scrollwheel;
}

@-webkit-keyframes scrollwheel {
  0% {
    bottom: -10px;
  }
  30% {
    bottom: -30px;
  }
  100% {
    bottom: -10px;
  }
}

@keyframes scrollwheel {
  0% {
    bottom: -10px;
  }
  30% {
    bottom: -30px;
  }
  100% {
    bottom: -10px;
  }
}

section#about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#about img {
  width: 100%;
}

section#about > div h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

section#about > div p {
  line-height: 1.7em;
}

section#leader {
  background: rgba(255, 255, 255, 0.5);
  padding: 70px 0;
  margin-top: 20px;
}

section#leader .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

section#leader .container .leader-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#leader .container .leader-list > div {
  text-align: center;
}

section#leader .container .leader-list > div .avatar {
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

section#leader .container .leader-list > div h3 {
  font-size: 1.5em;
  margin: 0.5em 0 0.3em 0;
}

section#leader .container button {
  margin-top: 70px;
  width: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: #5200ff;
  text-transform: uppercase;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
}

section#leader .container button:hover {
  background-color: #3700ad;
}

section#youtube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px auto;
}

section#youtube > div {
  width: 33%;
  position: relative;
}

section#youtube > div:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}

section#youtube > div > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 992px) {
  section#youtube > div {
    width: 50%;
  }
}

@media (max-width: 768px) {
  section#youtube > div {
    width: 100%;
  }
}

section#youtube > div > iframe {
  width: 100%;
  height: 100%;
  margin-top: -100%;
}

section#canditature {
  background: rgba(255, 255, 255, 0.2);
  padding: 80px 0;
}

section#canditature .container .header {
  font-size: 1.3em;
  font-weight: 500;
}

section#canditature .container > h1 {
  font-size: 2em;
  width: 100%;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 500;
}

section#canditature .container > p {
  width: 100%;
  text-align: center;
  margin-bottom: 70px;
}

section#canditature .container .raidtimes {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  width: 100%;
  row-gap: 15px;
  margin-bottom: 70px;
}

section#canditature .container .raidtimes .table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  row-gap: 3px;
}

section#canditature .container .wyg,
section#canditature .container .wyb {
  margin-bottom: 70px;
  padding: 20px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 5px solid #240414;
  border-bottom: 5px solid #240414;
  justify-items: center;
}

section#canditature .container .wyg .header,
section#canditature .container .wyb .header {
  margin-bottom: 15px;
  font-size: 3em;
}

section#canditature .container .wyg ul,
section#canditature .container .wyb ul {
  width: auto;
}

section#canditature .container .wyg ul li,
section#canditature .container .wyb ul li {
  line-height: 1.3em;
  list-style-type: square;
  margin-left: 20px;
}
/*# sourceMappingURL=main.css.map */